<div class="row">
  <div class="col-3">
    <a href="/" ng-click="ctrl.changeInclude('base')"><h1>Cocktail Database</h1></a>
  </div>
  <!-- search form for cocktails -->
  <form class="col-6 align-self-center" name="getCocktails" ng-submit="ctrl.getCocktails()">
    <div class="row">
      <div class="col-4 align-self-center">
        <h4 class="text-right text-upper">{{ ctrl.user }}</h4>
      </div>
      <div class="col-5">
        <input type="text" placeholder="Cocktail Name" ng-model="ctrl.cocktailName">
      </div>
      <div class="col-3">
        <button class="btn btn-primary" type="submit" ng-click="ctrl.changeInclude('base')">SUBMIT</button>
      </div>
    </div>
  </form>
  <div class="col-3 align-self-center text-right">
    <a ng-if="!ctrl.loggedIn" href="/" ng-click="ctrl.changeInclude('user')">Register/Log In</a>
    <form class="row" ng-if="ctrl.loggedIn">
      <div class="col-6">
        <a href="/" class="btn btn-secondary" ng-click="ctrl.changeInclude('saved')">My List</a>
      </div>
      <div class="col-6">
        <input class="btn btn-danger" type="submit" value="Log Out" ng-click="ctrl.logOut()" />
      </div>
    </form>
  </div>
</div>
